*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Anybody, sans-serif;
    min-height: 200vh;
    background-color: rgba(255, 255, 255, 0.5); 
    overflow-x: hidden; 
}
/*navbar*/
.navbar {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #013564; 
    padding: 10px 30px;
    z-index: 1000;
    transition: background 0.3s, padding 0.3s, box-shadow 0.3s, border-radius 0.3s; 
}

.navbar ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 0 auto;
    padding: 0;
    font-size: 18px;
    text-decoration: none;
  }
  
.logo-text{
  margin-top: 3px;
  transition: 0s;
  font-size: 20px;
  color: #fff4f4;
  cursor: pointer;
}  

.navbar ul li a {
    text-decoration: none;
    color: #fff1f1;
    transition: color 0.3s;
}

.navbar  ul li a:hover {
    color: #2bb1ff; 
    cursor: pointer;
}

.navbar .logo-container {
    display: flex;
    align-items: center;
}

.navbar img {
    width: 40px; 
    margin-right: 10px;
}

#cart{
    width: 30px; 
    height:5 30px;
    color: white;
}

#cart:hover {
   color: #2bb1ff;  
}

.scrolled {
    background-color: rgba(57, 100, 133, 0.801); 
    backdrop-filter: blur(10px);
    padding: 20px 40px;
    border-radius: 28px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/*navbar ends*/

/*tagline*/
h1 {
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    color: #2bb1ff;
    font-size: 180px;
    margin-top: 15px;
    padding-left: 0px;
    position: relative;
    z-index: 1;
}
#run:hover {
color: black;
}

#homepagebg, #vid {
    width: 100vw;
    height: auto;
}

#homepagebg {
    object-fit: cover; 
}

.overlay-container {
    position: relative;
    width: 100%;
    max-width: 100vw; 
}
/*tagline ad ends*/

/*featured products*/
.featured {
  max-width: 90%;
  margin: 0 auto; 
  padding: 4rem 0;
  text-align: center;
}

.featured-slider {
  position: relative;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
    padding:  17px 17px 30px 0px;
  margin: auto 1;
  gap: 20px;
}

.swiper-slide {
  background-color: #fff;
  border: 1px solid #98a7bd; 
  border-radius: 10px;
  box-shadow: 2px 3px 8px rgba(200, 219, 238, 0.425);
  transition: transform 0.3s ease;
  width: 250px; 
  height: 400px;
}

.swiper-slide:hover {
  transform: scale(1.03);
}

.image {
  width: 100%;
  height: 180px;
  margin-bottom: 1rem;
}

.discount {
    margin-top: 10px;
    border-radius: 5px;
    background-color:  #48aee9a1;
    color: #000000;
    padding: 2px 2px;
    font-size: 14px;
    margin-right: -206px;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.content h3 {
  font-size: 1.05 rem;
  padding: 5px;
  margin-bottom: 0.5rem;
  font-family: 'Anybody', sans-serif;
}

.price {
  font-size: 1.6rem;
  color: #10221b;
  margin-bottom: 1rem;
}

.stars i {
  color: gold;
  padding-bottom: 10px ;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #000000;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: Anybody;
  padding: 5;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;

}

.btn:hover {
  background-color:  #1379b4;
  color: rgb(255, 255, 255);  
}
/*featured products ends*/

/*banner1*/
#banner1 {
    position: relative;
    width: 100%;
    height: 70vh; 
    display: flex;
    justify-content: space-between; 
    background-color: #000; 
    overflow: hidden; 
}

#content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding-left: 50px;
    color: white;
}

#kai-title {
    width: 500px; 
}

#btn1 {
    font-family: 'Anybody', sans-serif;
    justify-content: flex-start; 
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: white; 
    color: black;
    border: none;
    cursor: pointer;
    align-self: flex-start;
    margin-left: 50px;
}

#btn1:hover {
    background-color: #24ec3f;
}

#feat1 {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}
/*banner1 ends*/

/*About Us*/
.about-section{
  display: flex;
  align-items: center;
  padding: 40px 80px;
}
.about-section div {
  padding-left: 0px 40px 0px 40px;
}
.section h2{
  font-family: Rubik, sans serif;
  font-size: 40px;
  color: #000000;

}
.about-section p {
  font-family: Rubik, sans-serif;
  font-size: 20px;
  color: #000000;
}
/*About Us ends*/

/*Our service*/
.features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 80px;
}

h2 {
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 90px;
    margin-top: 30px;
    margin-bottom: 0;
    text-align: center;
    padding-bottom: 20px;
}

h2:hover {
    color: #1379b4;
}

.feature{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.featureIcon{
    width: 50px;
    height: 50px;

}
.featureTitle{
    font-size: 20px;
    margin: 5px;
}   
.featureDesc {
  color: gray;
  width: 50%;
  height: 100px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*Our service ends*/

/*newsletter*/
#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("img/logos&imgs/3rdbanner.jpg");
  background-repeat: no-repeat;
  background-position: 250% 30%;
  background-color: #041e42;
  padding: 40px 0; 
  margin: 40px 0; /* Add margin to the top and bottom */
}

#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  margin-left: 20px;
  padding-bottom: 18px;
}

#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  margin-left: 20px;
}

#newsletter p span {
  color: #6bc9ff;
}

#newsletter .form {
  display: flex;
  width: 40%;
}

#newsletter input {
  height: 3.125rem;
  padding: 5px;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 20px 20px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsletter button {
  font-family: rubik, sans-serif;
  color: #ffffff;
  border-radius: 0px 20px 20px 0px;
  background-color: #1379b4;
  color: #ffffff;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
   margin-right: 20px;
}

/*news;letter ends*/



/*footer*/
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding:0px 80px;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  position: relative;
}

footer .logo {
  width: 100px;
  height: 105px;
  margin-left:-19px;
}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}

footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
  font-family: rubik, sans-serif;
}

footer a {
  font-size: 13px;
  font-family: Rubik, sans serif;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer p .fa {
  margin-top: 12px; 
   border: 2px solid red; 
  font-size: 1.1rem;
  align-self: flex-start;
  color: #088178;
  margin-right: 10px;
  margin: 5px;
  font-family: rubik, sans serif;
}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer .install .row img {
  border: 1px solid #088178;
  border-radius: 6px;
  cursor: pointer;
}

footer .install img {
  margin: 10px 0 15px 0;
  cursor: pointer;
}

footer .follow i:hover,
footer a:hover {
  color: #088178;
}

footer .copyright {
  width: 100%;
  text-align: center;
}

/*footer ends*/



/*Media queries*/


